* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: whitesmoke;
  /* overflow: hidden; */ }

.todo-app__root {
  margin: 0 auto;
  /* margin-top: 7em; */
  width: 50em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  color: #4d4d4d;
  font-weight: 300; }

.todo-app__header {
  margin-bottom: 1em; }

.todo-app__title {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  margin: 0;
  padding: 0; }

.todo-app__main {
  width: 100%;
  background: inherit; }

.todo-app__input {
  padding: 16px;
  border: none;
  color: inherit;
  background: inherit;
  font-size: 24px;
  font-weight: 200;
  line-height: 1.4em;
  width: 100%;
  background: #fefefe;
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.048);
  border: 1px solid rgba(0, 0, 0, 0.089);
  height: 5rem; }
  .todo-app__input:focus {
    outline: none; }
  .todo-app__input::placeholder {
    font-weight: 100;
    opacity: 0.6; }

.todo-app__list {
  list-style: none;
  padding: 0;
  margin: 0;
  /* max-height: 23em; */
  max-height: calc(90vh - 3em - 1em - 100px - 5rem);
  overflow: scroll; }

.todo-app__item {
  position: relative;
  width: 100%;
  min-height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.089);
  border-top: 0; }

.todo-app__checkbox {
  width: 30px;
  height: 30px;
  background: #ddd;
  margin: 15px;
  border-radius: 100%;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.312); }
  .todo-app__checkbox input[type='checkbox'] {
    visibility: hidden;
    font-size: 1.5em;
    font-weight: 300;
    overflow-wrap: break-word;
    width: 80%;
    /* min-height: 3em; */
    transition: opacity 0.3s;
    border: none; }
    .todo-app__checkbox input[type='checkbox']:focus {
      outline: none; }
  .todo-app__checkbox label {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    transition: all 0.5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    background: rgba(99, 99, 99, 0.698);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.312); }

.todo-app__item-detail {
  display: block;
  font-weight: 300;
  overflow-wrap: break-word;
  width: 90%;
  transition: opacity 0.3s;
  height: 100%;
  /* add */
  font-size: 24px;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding-right: 40px; }

.todo-app__item-edit {
  display: none;
  font-weight: 300;
  color: inherit;
  background: inherit;
  font-size: 24px;
  line-height: 1.4em;
  width: calc(90% - 40px); }
  .todo-app__item-edit:focus {
    outline-color: rgba(175, 47, 47, 0.15); }

.todo-app__item-x {
  display: none; }

.todo-app__item:hover .todo-app__item-x {
  display: inline;
  position: absolute;
  max-width: 20px;
  max-height: 20px;
  right: 20px; }
  .todo-app__item:hover .todo-app__item-x:hover {
    max-width: 25px;
    max-height: 25px;
    right: 17.5px; }

.todo-app__item.completed input[type='checkbox'] + label {
  background: #26ca299b; }

.todo-app__item.completed .todo-app__item-detail {
  display: block;
  color: #d9d9d9;
  text-decoration: line-through; }

.todo-app__item.completed .todo-app__item-edit {
  display: none; }

.todo-app__item.edit .todo-app__item-detail {
  display: none; }

.todo-app__item.edit .todo-app__item-edit {
  display: block; }

.todo-app__footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  padding: 1em;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.089);
  border-top: 0.5px solid rgba(0, 0, 0, 0.089); }
  .todo-app__footer button {
    border: none;
    padding: 5px;
    /* border: 1px solid transparent; */
    font-size: 0.8em;
    font-weight: inherit;
    border-radius: 2px;
    cursor: pointer;
    /* add */
    background: inherit;
    border: 1px solid rgba(175, 47, 47, 0.15); }
    .todo-app__footer button:focus {
      outline: none; }
    .todo-app__footer button:hover {
      text-decoration: underline; }
    .todo-app__footer button.current {
      background: rgba(175, 47, 47, 0.15); }

.todo-app__total {
  min-width: 3em; }

.todo-app__view-buttons {
  display: flex;
  margin: 0;
  margin-left: 2em;
  padding: 0;
  width: 12em;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none; }

.todo-app__clean {
  vertical-align: middle;
  /* add */ }
  .todo-app__clean.disable > button {
    color: lightgray;
    border: 1px solid lightgray;
    cursor: not-allowed; }
